body {
  margin: 0;
  padding: 0;
  line-height: 1.4em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12.5px;
  color: #666666;
  background: url(../Images/templatemo_pg_bg.jpg) repeat;
}
a:link,
a:visited {
  color: #ffffff;
  text-decoration: none;
}
a:active,
a:hover {
  color: #ffffff;
  text-decoration: none;
}
h1 {
  font-size: 20px;
  color: #9c2681;
  padding-left: 20px;
  margin-top: 40px;
}
h2 {
  margin-top: 10px;
  padding-left: 60px;
  font-size: 13px;
  font-weight: bold;
  color: #ffffff;
}

#templatemo_container {
  clear: none;
  margin: auto;
  margin-top: 30px;
  width: 755px;
  height: 820px;
  background: #fff;
}
#templatemo_body {
  margin: auto;
  margin-top: 0px;
  margin-bottom: 10px;
  width: 735px;
  height: 800px;
  border: 3px solid #83246e;
}
#templatemo_header {
  width: 729px;
  height: 180px;
  background: url("https://img.freepik.com/vector-premium/chica-piel-hermosa-sana_73925-238.jpg?size=626&ext=jpg");
}
#templatemo_site_title {
  padding-top: 100px;
  padding-left: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  color: rgb(247, 7, 155);
  font-weight: bold;
}
#templatemo_site_title2 {
  font-size: 18px;
  color: #d719a8;
}

#templatemo_slogan {
  float: right;
  padding-right: 100px;
  padding-top: 33px;
  width: 500px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 12px;
  font-weight: bold;
}
.templatemo_mid2 p {
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}
.templatemo_mid3 {
  float: right;
  margin-top: 0px;
  padding-right: 15px;
  padding-top: 50px;
  padding-left: 15px;
  width: 225px;
  height: 180px;
  background: url(../Images/templatemo_address.jpg) no-repeat;
  color: #ffffff;
}

#templatemo_footer {
  margin-top: 20px;
  float: none;
  width: 755px;
  height: 30px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}
#templatemo_footer a {
  color: #ffffff;
}
.boton {
  border: 1px solid #2e518b; /*anchura, estilo y color borde*/
  padding: 10px; /*espacio alrededor texto*/
  background-color: #8b2e72; /*color botón*/
  color: #ffffff; /*color texto*/
  text-decoration: none; /*decoración texto*/
  text-transform: uppercase; /*capitalización texto*/
  font-family: "Helvetica", sans-serif; /*tipografía texto*/
  border-radius: 50px; /*bordes redondos*/
}
table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 13px;
  margin: 45px;
  width: 450px;
  text-align: left;
  border-collapse: collapse;
}

th {
  font-size: 13px;
  font-weight: normal;
  padding: 8px;
  background: #b9c9fe;
  border-top: 4px solid #aabcfe;
  border-bottom: 1px solid #fff;
  color: #039;
}

td {
  padding: 8px;
  background: #e8edff;
  border-bottom: 1px solid #fff;
  color: #669;
  border-top: 1px solid transparent;
}

tr:hover td {
  background: #d0dafd;
  color: #339;
}

/*--FORMULARIO-------------------*/
.form {
  width: 450px;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  background: rgba(15, 50, 72, 0.3);
  border-radius: 5px;
}
/*--TITULO-----------------------*/
.titre {
  color: #1610c2;
  margin-bottom: 20px;
  text-align: center;
  font-size: 35px;
}
/*--CAJAS-DE-DATOS---------------*/
.inputs {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 2px;
  border: none;
  border-left: 10px solid #d9e4ea;
  transition: all 0.5s ease;
}
.inputs:hover,
.inputs:focus {
  border-left: 10px solid #1a4c7e;
}

/*--BOTON-DE-REGISTRARSE---------*/
.btn {
  width: 100%;
  padding: 15px;
  border-radius: 2px;
  border: none;
  margin: 20px 0;
  font-size: 15px;
  background: #225677;
  color: white;
  cursor: pointer;
  transition: all 0.5s ease;
}
.btn:hover {
  background: #133043;
}

li {
  color: #020005;
  font-size: 20px;
  font-family: Garamond;
  text-align: center;
  text-transform: capitalize;
  text-decoration: #225677;
}
